@import 'styles/breakpoints';
@import 'styles/fonts';

.footer {
    position: absolute;
    bottom: 1.75em;
    width: 20rem;
}

.links {
    grid-column: 1 / -1;
}

.link {
    display: inline-block;
    color: var(--color-text-dimmed);
    transition: color 0.3s;

    > svg {
        display: inline-block;
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }
}
