.headline,
.graphql,
.requestType,
.locations,
.path {
    grid-column: 1 / -1;
}

.headline {
    margin-bottom: 1rem;
}

.requestType,
.locations,
.path {
    margin-top: 0.5rem;
    color: var(--text1);

    > p {
        margin: 0;
    }
}

.graphql {
    overflow-x: auto;
    counter-reset: line;
    margin: 1rem 0 2rem;
    padding: 1rem 0;

    > code {
        display: block;
        counter-increment: line;
        width: fit-content;

        &:hover {
            background-color: var(--surface3);
        }

        &.error {
            padding-right: 1rem;
            background-color: var(--failure);
            font-weight: bold;
            color: var(--text1);
        }

        &::before {
            display: inline-block;
            content: counter(line);
            user-select: none;
            width: 4ch;
            margin-right: 2rem;
            text-align: right;
            color: var(--text2);
        }
    }
}
