@import 'styles/breakpoints';

.root {
    h1,
    h2,
    p,
    ul {
        grid-column: 1 / -1;
    }

    ul > li strong {
        color: var(--brand);
    }
}

.contact {
    li {
        margin: 0.3rem 0;
    }

    ul ul {
        margin-top: 0;
    }
}

@include medium {
    .root {
        .nobr {
            p br,
            p br::after {
                content: ' ';
            }
        }
    }
}
