:root {
    &[data-theme='dark'] {
        --color-background: #1e1e1e;
        --color-text: #ffffff;
        --color-text-dimmed: #888;
        --color-text-highlight: #66f;
    }

    &[data-theme='light'] {
        --color-background: #f8f8f8;
        --color-text: #000;
        --color-text-dimmed: #888;
        --color-text-highlight: #22f;
    }
}
