---
import styles from './Spinner.module.scss';
---

<my-spinner>
    <button class={styles.spinner}>Click me</button>
</my-spinner>

<script>
    import { navigate } from 'astro:transitions/client';

    class Spinner extends HTMLElement {
        connectedCallback() {
            const button = this.querySelector('button') as HTMLButtonElement;
            button.addEventListener('click', () => {
                navigate(new URL(window.location.href).pathname === '/test1' ? '/test2' : '/test1');
            });
        }
    }

    if (!customElements.get('my-spinner')) {
        customElements.define('my-spinner', Spinner);
    }
</script>
