.root {
    padding: 3rem 0;
}

.section {
    grid-column: 1 / -1;

    &:not(:first-of-type) {
        margin-top: 3rem;
    }

    h1,
    h2 {
        font-family: var(--font-hel);
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media (width >= 768px) {
    .section {
        h1 {
            font-size: 6.4rem;
        }

        h2 {
            font-size: 4rem;
        }
    }
}
