---
import cx from 'clsx';
import grid from '@/styles/modules/grid.module.css';
import styles from './Home.module.css';
---

<div class={cx(styles.root, grid.container)}>
    <section class={cx(styles.section, 'body')}>
        <h1 class={styles.sectionHeadline}>Claus Wahlers</h1>
        <ul>
            <li>Github: <a href="https://github.com/claus">claus</a></li>
            <li>Email: <a href="mailto:w@hle.rs">w@hle.rs</a></li>
            <li>Bluesky: <a href="https://bsky.app/profile/wa.hle.rs">wa.hle.rs</a></li>
            <li>Fediverse: <a href="https://mastodon.com.br/@claus">@claus@mastodon.com.br</a></li>
        </ul>
    </section>
</div>
