---
import grid from '@/styles/modules/grid.module.scss';
import styles from './Header.module.scss';
---

<header class:list={[styles.root, 'body']}>
    <div class:list={[styles.container, grid.container]}>
        <h1 class={styles.home}>
            <a href="/">HAUS Astro TS Starter</a>
        </h1>
        <p class={styles.phase}>
            <span class={styles.phasePrefix}>PageTransitionPhase.</span>
            XXX
        </p>
    </div>
</header>
