@import 'styles/breakpoints';
@import 'styles/fonts';

.main {
    padding: var(--grid-margin);
    opacity: 0;
}

.transition-appear,
.transition-in {
    animation: fadeIn 300ms linear forwards;
}

.transition-out {
    animation: fadeOut 300ms linear forwards;
}

.transition-idle {
    opacity: 1;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}
