@import 'styles/breakpoints';
@import 'styles/fonts';

.dot {
    fill: var(--color-text);
    stroke: none;
    transition: fill 0.3s linear;
}

.line {
    fill: none;
    stroke: var(--color-text);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 174.46511627908px;
    transition: stroke 0.3s linear;
}
