@import 'styles/breakpoints';
@import 'styles/fonts';

.header {
    @include dmSans;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);

    .headline {
        height: 100%;
        align-items: center;
        text-transform: lowercase;
    }

    .homepageLink {
        grid-column: 1 / -1;
        width: fit-content;
        text-decoration: none;
    }

    .headline {
        font-size: 2.4rem;
    }

    .logo {
        display: block;
        width: 1.6em;
        height: auto;
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .header {
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
    }
}

@include medium {
    .logo {
        width: 2em;
    }
}
